@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .nav-list {
    display: flex;
  }

  .contacts-header {
    display: block;
  }

  .header-link {
    padding: 0;
  }

  .header-mail {
    margin-bottom: 12px;
  }
  .buttom-header,
  .mob-menu {
    display: none;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media (min-devise-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hiro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-title {
    text-align: start;
  }
  .team-container {
    width: 100%;
    padding: 96px 108px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 72px;
  }

  .team-list .item {
    width: calc((100% - 24px) / 2);
  }
  .clients-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .client-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-block,
  .footer-social {
    align-items: flex-start;
  }

  .subscribe-text {
    text-align: start;
  }

  .container-footer {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .form-footer {
    flex-direction: row;
    gap: 24px;
  }
}

/* Desktop */

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
  }

  .nav-list,
  .contacts-header {
    display: flex;
  }

  .buttom-header,
  .mob-menu {
    display: none;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
    max-width: 1440px;
  }

  @media (min-devise-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hiro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
      padding: 188px 0;
      max-width: 1440px;
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
  }
  .benefits-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .icon-background {
    display: flex;
  }

  .work {
    display: block;
  }

  .team-list {
    gap: 24px;
    flex-direction: row;
  }

  .team-list .item {
    width: calc((100% - 72px) / 4);
  }

  .team-container {
    width: 100%;
    padding: 0;
  }
  .clients-list {
    gap: 24px;
  }
  .client-item {
    width: calc((100% - 24px * 5) / 6);
  }

  .footer {
    padding: 100px 0;
  }

  .container-footer {
    gap: 0;
    flex-wrap: nowrap;
  }

  .footer-block {
    margin-right: 120px;
  }

  .footer-social {
    display: block;
  }
  .input-footer,
  .footer-lable {
    width: 265px;
  }
  .subscribe-box {
    margin-left: auto;
    width: auto;
  }
}
