:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------------header--------------------- */

.header-container,
.nav,
.nav-list,
.contacts-header {
  display: flex;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  align-items: center;
}

.nav {
  align-items: center;
}

.nav-list {
  gap: 40px;
}
.nav-link {
  position: relative;

  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}
.color-page {
  color: var(--ocean);
}

.address {
  margin-left: auto;
  font-style: normal;
}

.contacts-header {
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--navyblue);
  text-decoration: none;
  text-transform: uppercase;
  padding: 24px 0 24px 0;

  margin-right: 76px;
}

.accent {
  color: var(--iris);
}

.header-link {
  display: block;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

/* -------------------------hiro---------------------- */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0 188px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  text-align: center;
  color: var(--white);

  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  min-width: 169px;
  height: 56px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;

  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* ---------------------------benefits------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);

  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
}

.icon-background {
  display: flex;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

/* --------------------work---------------- */

.work {
  padding-top: 0;
}

.work-title {
  color: var(--navyblue);

  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-list .item {
  width: calc((100% - 48px) / 3);
}

/* -------------------team---------------- */

.team {
  background-color: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-text {
  padding: 32px 0;
}

.text-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons {
  fill: var(--cloud);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--ocean);
}

/* ------------------clients--------------------- */

.clients-title {
  color: var(--navyblue);

  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  gap: 24px;
}

.client-item {
  display: flex;
  height: 88px;
  width: calc((100% - 24px * 5) / 6);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 16px 32px;
  color: var(--light-slate);
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

/* ------------------portfolio-------- */

.project {
  padding-top: 96px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);

  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);

  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

.project-card {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.project-list .item {
  width: calc((100% - 24px * 2) / 3);
}

.project-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.project-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.overley-block {
  position: relative;
  overflow: hidden;
}

.overley-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--cloud);
  background-color: var(--iris);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project:hover,
.link-project:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.link-project:hover .overley-text,
.link-project:focus .overley-text {
  transform: translateY(0%);
}

/* -------------------------footer--------------- */

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}
.footer-block {
  margin-right: 120px;
}

.footer-logo {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;

  margin-bottom: 16px;
}
.footer-text {
  color: var(--cloud);
  max-width: 264px;
}

.text-social {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social {
  display: block;
}

.footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--cloud);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}

.form-footer {
  display: flex;
  gap: 24px;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.subscribe-text {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-footer {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
}

.input-footer::placeholder {
  color: var(--white);
}

.button-sub {
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-sub:hover,
.button-sub:focus {
  background-color: var(--ocean);
}

.button-sub-icon {
  fill: var(--white);
  margin-left: 16px;
}

/* ------------------modal----------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 16px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.buttom-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-modal:hover,
.buttom-modal:focus {
  background-color: var(--ocean);
  border: none;
}

.buttom-icon {
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-modal:hover .buttom-icon,
.buttom-modal:focus .buttom-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* -----------------form-------------- */

.modal-form {
  max-width: 360px;
}

.label-modal {
  display: block;
  margin-bottom: 8px;
}

.label-modal-comment {
  display: block;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--iris);
}

.modal-input:focus + .input-icon {
  fill: var(--iris);
}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);

  display: block;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navyblue-modal);
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.buttom-form {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);

  min-width: 169px;
  height: 56px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;

  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-form:hover,
.buttom-form:focus {
  background-color: var(--ocean);
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-text {
  color: var(--light-slate);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.link-modal {
  color: var(--iris);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  cursor: pointer;
}

.check-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-text span {
  background-color: var(--ocean);
  fill: var(--cloud);
  border: none;
}
